/* flex flex-col mt-12 */
.profile-grid {
  display: flex;
  flex-direction: column;

  /* responsive */

  margin-top: 48px;
}

.profile__header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
}

/* border-2 rounded-sm h-20 w-20 */
.profile__avatar {
  border: solid 1px;
  border-radius: 2px;

  /* responsive */

  height: 80px;
  width: 80px;
}

/* flex flex-col justify-around */
.profile__headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* mt-0 mb-0 text-white */
.profile__title {
  margin-top: 0;
  margin-bottom: 0;

  color: white;
}

/* mt-8 */
.profile__details {
  /* responsive */

  margin-top: 32px;
}

/* text-xl */
.profile__description {
  font-size: 1.3rem;
}