/* fixed flex justify-center flex-shrink-0 w-full bg-white z-300 */
.nav-bar__container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;

  z-index: 300;
  background-color: white;
}

/* flex-1 flex items-center flex-shrink-0 h-20 m-0 */
.nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  /* responsive */

  height: 80px;
  max-width: 1200px;

  padding: 0 24px;
  margin: 0;
}

/* flex items-center h-full mr-16 */
.nav-bar__brand {
  display: flex;
  align-items: center;

  height: 100%;

  /* responsive */

  margin-right: 64px;
}

/* flex items-center h-full */
.nav-bar__link {
  display: flex;
  align-items: center;

  height: 100%;
}

.nav-bar__logo {
  height: 3.2rem;
}

.nav-bar__tabs {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-right: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.nav-bar__tab:last-child {
  margin-right: 0;
}

/* underline decoration-solid decoration-indigo-300 decoration-4 underline-offset-8 */
.nav-bar__tab--active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--indigo);

  /* responsive */

  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.nav-bar__tab:hover {
  color: white;
}

.nav-bar__icon {
  display: none;
}

/* flex ml-6 */
.nav-bar__buttons {
  display: flex;
  margin-left: 24px;
}
